<div class="container mt-5">
    <h4>⏰ Add Price Alert</h4>

    <select id="cropName" class="form-control mb-2" placeholder="Crop Name">
        <option value="">-- Select Crop --</option>
        <option value="Tomato">Tomato</option>
        <option value="Onion">Onion</option>
        <option value="Potato">Potato</option>
        <option value="Carrot">Carrot</option>
        <option value="Cabbage">Cabbage</option>
    </select>
    <select id="marketName" class="form-control mb-2" placeholder="Market Name">
        <option value="">-- Select Market --</option>
        <option value="Hospet">Hospet</option>
        <option value="Ramanagara">Ramanagara</option>
        <option value="Bangarpet">Bangarpet</option>
        <option value="Sirsi">Sirsi</option>
        <option value="Mandya">Chikkamagalore</option>
    </select>
    <input id="targetPrice" type="number" class="form-control mb-2" placeholder="Target Price">

    <select id="aboveBelow" class="form-control mb-2">
        <option value="">-- Alert Type --</option>
        <option value="ABOVE">ABOVE</option>
        <option value="BELOW">BELOW</option>
     </select>

    <button class="btn btn-warning" onclick="addAlert()">Add Alert</button>
</div>
